name: Overprovisioned Secrets - Safe
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build application
        run: |
          echo "Building application"
          echo "No secrets needed for build"
